.logo {
    color: var(--black-logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    padding: 25px 0 25px;
    transition: var(--time-cubic);
    
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.logo__web {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}



